.carousel .slide {
    background: linear-gradient(111.4deg, #f35230, #f38430) !important;
    /* color: white !important; */
}

.carousel .thumb {
  
}

.con{
    display: flex !important;

}

.maincarousel{
    position: relative;
    top: -700px;
}


.homeTop_banner{
    display: flex;
    gap: 0px;
}

.serchbar{
    display: flex !important;
}

.searchbox{
    width: 500px;
    height: 50px;
}

.serchbar Button{
    background: linear-gradient(111.4deg, #f35230, #f38430) !important;
    border: none;
    width: 120px;
}

.context{
    margin-top: 120px;
    margin-left: 300px;
}

/* .context{
    position: relative;
    top: 300px;
    left: 290px;
} */

.context h1{
    color: white;
    font-size: 45px;
    width: 70%;
    font-weight: bold;
}

.context p{
    color: white;
    font-size: 22px;
    margin: 24px 0;
    width: 70%;
}


#image1{
    height: 400px !important;
    width: 350px !important;
    margin-top: 50px;
    margin-left: -190px;
}

#image2{
    height: 400px !important;
    width: 400px !important;
    margin-top: 50px;
    margin-left: -190px;
}

#image3{
    height: 400px !important;
    width: 400px !important;
    margin-top: 50px;
    margin-left: -190px;
}

#image5{
    height: 440px !important;
    width: 380px !important;
    margin-top: 30px;
    margin-left: -190px;
}




.search-container {
    position: relative;
    width: 500px;
    outline: none;
    border: none;
}

.search-input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.2s;
}

.search-btn {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    background: linear-gradient(111.4deg, #f35230, #f38430) !important;
    color: white;
    padding: 8px 30px;
    border-radius: 4px;

}

.search-input:focus {
    border-color: #007bff;
}
